{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de moedas</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Conversor de moedas</h1>

    <form method="get" action="/converter/">
        <div class="linha">
            <label>
                <p>Moeda origem:</p>
            </label>
            <span>
                <select name="origem" required>
                    <option value="">Selecione</option>

                    <option value="USD">USD - Dólar</option>
                    <option value="BRL">BRL - Real</option>
                    <option value="EUR">EUR - Euro</option>
                    <option value="GBP">GBP - Libra</option>
                    <option value="JPY">JPY - Iene</option>
                    <option value="CAD">CAD - Dólar Canadense</option>
                    <option value="AUD">AUD - Dólar Australiano</option>
                    <option value="CHF">CHF - Franco Suiço</option>
                    <option value="CNY">CNY - Yuan Chines</option>
                    <option value="ARS">ARS - Peso Argentino</option>
                </select>
            </span>
        </div>

        <br><br>
        <div class="linha">
            <label>
                <p>Moeda destino:</p>
            </label>
            <span>
                <select name="destino" required>
                    <option value="">Selecione</option>

                    <option value="USD">USD - Dólar</option>
                    <option value="BRL">BRL - Real</option>
                    <option value="EUR">EUR - Euro</option>
                    <option value="GBP">GBP - Libra</option>
                    <option value="JPY">JPY - Iene</option>
                    <option value="CAD">CAD - Dólar Canadense</option>
                    <option value="AUD">AUD - Dólar Australiano</option>
                    <option value="CHF">CHF - Franco Suiço</option>
                    <option value="CNY">CNY - Yuan Chines</option>
                    <option value="ARS">ARS - Peso Argentino</option>
                </select>
            </span>
        </div>

        <br><br>
        <div class="linha">
            <label>
                <p>Valor:</p>
            </label>
            <span>
                <input type="number" step="0.01" name="valor" placeholder="Digite o valor" required>
            </span>
        </div>
        <br><br>

        <button type="submit">Converter</button>
    </form>

    {% if valor_convertido %}

    <div class="resultado">
        <h2>
            <strong>
                Resultado: {{valor_original}} {{origem}} = {{valor_convertido}} {{destino}}
            </strong>
        </h2>
    </div>

    {% endif %}
</body>

</html>